<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Planner</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="/static/scripts.js" defer></script>
</head>

<body>
    <section class="form">
        <div class="container-form">
            <h1>Planner</h1>
            <form action="/agregar" method="POST">
                <div class="box-1">
                    <label for="" class="label">
                        <input type="text" class="input" name="descripcion" placeholder=" " required>
                        <span class="label_name">Titulo</span>
                    </label>
                    <label for="" class="label">
                        <input type="date" class="input" name="fecha_limite" required>
                        <span class="label_name">Fecha Limite</span>
                    </label>
                    <label for="" class="label">
                        <input type="text" class="input" name="notas" placeholder=" "></input>
                        <span class="label_name">Notas (opcional)</span>
                    </label>
                    <label for="" class="label">
                        <input type="text" class="input" name="tags" placeholder=" " required>
                        <span class="label_name">Tags</span>
                    </label>
                    <div class="box">
                        <label for="">
                            <span>Prioridad</span>
                            <div class="content-select">
                                <select name="prioridad" required>
                                    <option value=""></option>
                                    <option value="Baja">Baja</option>
                                    <option value="Media">Media</option>
                                    <option value="Alta">Alta</option>
                                    <option value="Urgente">Urgente</option>
                                </select>
                            </div>
                        </label>
                        <label for="">
                            <span>Progreso</span>
                            <div class="content-select">
                                <select name="progreso" required>
                                    <option value=""></option>
                                    <option value="No iniciado">No iniciado</option>
                                    <option value="En progreso">En progreso</option>
                                    <option value="Finalizado">Finalizado</option>
                                </select>
                            </div>
                        </label>
                    </div>
                </div>
                <button class="button-85" type="submit">Agregar</button>
            </form>
        </div>
    </section>
    <section class="tareas">
        <h2>Tareas</h2>
        <form action="/buscar" method="GET">
            <label for="query" class="label">
                <input type="text" class="input" name="query" placeholder="Buscar tarea..." value="{{ query }}">
                <span class="label_name">Buscar tarea</span>
            </label>
            <button type="submit" class="button-85">Buscar</button>
        </form>
        <div id="tareas-container" class="grid-container">
            {% for tarea in tareas %}
            <div class="tarea">
                <div class="titulo-tarea" data-id="{{ tarea.descripcion }}">
                    <span>{{ tarea.descripcion }}</span>
                    <button class="editar-tarea" data-id="{{ tarea.descripcion }}">
                        <i class="gg-pen"></i> Editar
                    </button>
                </div>
                <div class="detalle-tarea" data-id="{{ tarea.descripcion }}">
                    <p>Descripción: {{ tarea.descripcion }}</p>
                    <p>Fecha Límite: {{ tarea.fecha_limite }}</p>
                    <p>Prioridad: {{ tarea.prioridad }}</p>
                    <p>Progreso: {{ tarea.progreso }}</p>
                    <p>Tags: {% for tag in tarea.tags %}#{{ tag }} {% endfor %}</p>
                    <p>Notas: {{ tarea.notas }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>

    <!-- Modal -->
    <div id="editModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>Editar Tarea</h2>
            <form id="editForm" action="/editar" method="POST">
                <input type="hidden" name="original_descripcion" id="original_descripcion">
                <label>
                    Descripción:
                    <input type="text" name="descripcion" id="edit_descripcion" required>
                </label>
                <label>
                    Fecha Límite:
                    <input type="date" name="fecha_limite" id="edit_fecha_limite" required>
                </label>
                <label>
                    Prioridad:
                    <select name="prioridad" id="edit_prioridad" required>
                        <option value="Baja">Baja</option>
                        <option value="Media">Media</option>
                        <option value="Alta">Alta</option>
                        <option value="Urgente">Urgente</option>
                    </select>
                </label>
                <label>
                    Progreso:
                    <select name="progreso" id="edit_progreso" required>
                        <option value="No iniciado">No iniciado</option>
                        <option value="En progreso">En progreso</option>
                        <option value="Finalizado">Finalizado</option>
                    </select>
                </label>
                <label>
                    Tags:
                    <input type="text" name="tags" id="edit_tags" required>
                </label>
                <label>
                    Notas:
                    <textarea name="notas" id="edit_notas"></textarea>
                </label>
                <button type="submit">Guardar cambios</button>
            </form>
        </div>
    </div>
</body>

</html>
