<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TaskFlow</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <script src="{{ url_for('static', filename='scripts.js') }}" defer></script>
</head>

<body>
    <section class="form">
        <div class="container-form">
            <h1>Taskflow</h1>
            <p>Organiza con Taskflow, tu herramienta de confianza.</p>
            <form action="/agregar_proyecto" method="POST">
                <div class="box-1">
                    <label for="" class="label">
                        <input type="text" class="input" name="descripcion" placeholder=" " required>
                        <span class="label_name">Descripción del Proyecto</span>
                    </label>
                    <label for="" class="label">
                        <input type="text" class="input" name="descripcion_general" placeholder=" " required>
                        <span class="label_name">Descripción General</span>
                    </label>
                </div>
                <button class="button-85" type="submit">Agregar Proyecto</button>
            </form>
        </div>
    </section>
    <section class="form">
        <div class="container-form">
            <form action="/agregar_tarea" method="POST">
                <div class="box-1">
                    <label for="" class="label">
                        <input type="text" class="input" name="descripcion" placeholder=" " required>
                        <span class="label_name">Descripción de la Tarea</span>
                    </label>
                    <label for="" class="label">
                        <input type="date" class="input" name="fecha_limite" required>
                        <span class="label_name">Fecha Límite</span>
                    </label>
                    <label for="" class="label">
                        <input type="text" class="input" name="notas" placeholder=" "></input>
                        <span class="label_name">Notas (opcional)</span>
                    </label>
                    <label for="" class="label">
                        <input type="text" class="input" name="tags" placeholder=" " required>
                        <span class="label_name">Tags</span>
                    </label>
                    <div class="box">
                        <div class="top-section">
                            <div class="input-group">
                                <label for="">
                                    <span>Prioridad</span>
                                    <div class="content-select">
                                        <select name="prioridad" required>
                                            <option value=""></option>
                                            <option value="Baja">Baja</option>
                                            <option value="Media">Media</option>
                                            <option value="Alta">Alta</option>
                                            <option value="Urgente">Urgente</option>
                                        </select>
                                    </div>
                                </label>
                                <label for="">
                                    <span>Progreso</span>
                                    <div class="content-select">
                                        <select name="progreso" required>
                                            <option value=""></option>
                                            <option value="No iniciado">No iniciado</option>
                                            <option value="En progreso">En progreso</option>
                                            <option value="Finalizado">Finalizado</option>
                                        </select>
                                    </div>
                                </label>
                            </div>
                        </div>
                        <div class="bottom-section">
                            <label for="">
                                <span>Proyecto</span>
                                <select name="proyecto_id" required>
                                    <option value=""></option>
                                    {% for proyecto in proyectos %}
                                    <option value="{{ proyecto.descripcion }}">{{ proyecto.descripcion }}</option>
                                    {% endfor %}
                                </select>
                            </label>
                        </div>
                    </div>
                </div>
                <button class="button-85" type="submit">Agregar Tarea</button>
            </form>
        </div>
    </section>
    <section class="tareas">
        <form class="buscar" action="/buscar" method="GET">
            <label for="query" class="label-buscar">
                <input type="text" class="input" name="query" placeholder=" " value="{{ query }}">
                <span class="label_name">Buscar tarea o proyecto</span>
            </label>
            <button type="submit" class="button-85">Buscar</button>
        </form>
        <div id="proyectos-container" class="grid-container">
            {% for proyecto in proyectos %}
            <div class="proyecto">
                <h3>{{ proyecto.descripcion }}</h3>
                <p>{{ proyecto.descripcion_general }}</p>
                <div class="subtareas">
                    {% for tarea in proyecto.tareas %}
                    <div class="tarea">
                        <div class="titulo-tarea" data-id="{{ tarea.descripcion }}">
                            <span>{{ tarea.descripcion }}</span>
                            <button class="editar-tarea" data-id="{{ tarea.descripcion }}">
                                <i class="gg-pen"></i> Editar
                            </button>
                            <form action="/eliminar_tarea" method="POST">
                                <input type="hidden" name="original_descripcion" value="{{ tarea.descripcion }}">
                                <button type="submit" class="eliminar-tarea">
                                    <i class="gg-trash"></i> Eliminar
                                </button>
                            </form>
                        </div>
                        <p><strong>Fecha límite:</strong> {{ tarea.fecha_limite }}</p>
                        <p><strong>Prioridad:</strong> {{ tarea.prioridad }}</p>
                        <p><strong>Progreso:</strong> {{ tarea.progreso }}</p>
                        <p><strong>Notas:</strong> {{ tarea.notas }}</p>
                        <p><strong>Tags:</strong> {{ tarea.tags | join(", ") }}</p>
                    </div>
                    {% endfor %}
                </div>
                <form action="/eliminar_proyecto" method="POST">
                    <input type="hidden" name="descripcion" value="{{ proyecto.descripcion }}">
                    <button type="submit" class="eliminar-proyecto">Eliminar Proyecto</button>
                </form>
            </div>
            {% endfor %}
        </div>
    </section>
</body>

</html>
